.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr) min-content min-content repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh; }
  .header canvas {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1); }
  .header__canvas-overlay {
    position: absolute;
    z-index: 99;
    background-color: transparent;
    width: 100vw;
    height: 100vh; }
  .header__nav {
    grid-column: 9 / -1;
    list-style: none;
    display: table;
    text-align: center;
    z-index: 100; }
    @media only screen and (max-width: 31.25em) {
      .header__nav {
        margin: 0 auto;
        display: block; } }
    @media only screen and (max-width: 37.5em) {
      .header__nav {
        display: none; } }
  .header__item {
    display: table-cell;
    position: relative;
    padding: 1.5rem 0.5rem;
    z-index: 100; }
    .header__item a {
      color: #393D3F;
      text-decoration: none;
      letter-spacing: 0.15rem;
      font-size: 1.5rem;
      font-family: Lucida Sans Unicode;
      display: inline-block;
      padding: 1.5rem 2rem;
      position: relative;
      z-index: 100; }
      .header__item a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #DBB957;
        transition: width 0.3s ease 0s, left 0.3s ease 0s, color 3s ease 0s;
        width: 0; }
      .header__item a:hover:after {
        width: 100%;
        left: 0; }
      .header__item a:hover {
        color: #DBB957; }
    .header__item:not(:last-child) {
      margin-right: 5rem; }
  .header__heading {
    font-size: 5rem;
    font-family: 'IBM Plex Mono', monospace;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    text-align: center;
    z-index: 100; }
  .header__heading--secondary {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #DBB957;
    font-family: 'IBM Plex Mono', monospace;
    grid-column: 5 / 9;
    grid-row: 5 / 5;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    z-index: 999; }
  .header__img-container--1, .header__img-container--2 {
    object-fit: contain;
    width: 30rem;
    z-index: 100; }
  .header__img-container--1 {
    grid-column: 4 / 10;
    grid-row: 6 / 12;
    animation: spin 7s infinite linear;
    z-index: 100; }
  .header__img-container--2 {
    grid-column: 5 / 9;
    grid-row: 7 / 11;
    z-index: 100; }
  .header__img--1, .header__img--2 {
    width: 100%;
    height: 100%;
    z-index: 100;
    animation: moveUpDown 2s infinite; }

@keyframes moveUpDown {
  0% {
    transform: translateY(-0.5rem); }
  50% {
    transform: translateY(0.5rem); }
  100% {
    transform: translateY(-0.5rem); } }

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 24em; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: black; }
  to {
    border-right-color: transparent; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 28.125em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Source Code Pro', monospace;
  color: #393D3F;
  font-weight: 300;
  line-height: 1.6; }

@font-face {
  font-family: Leelawadee;
  src: url(../leelawad.ttf); }

.btn,
.btn:active {
  padding: 1rem 2rem;
  background-color: #DBB957;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5rem;
  color: #F7F7FF;
  border: none;
  outline: none;
  border-radius: 10rem;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none; }

.btn:hover {
  animation: pulsate 0.9s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.content {
  margin: 0;
  width: 100vw;
  height: auto; }

.about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content repeat(2, min-content);
  padding: 5rem 0;
  margin: 0 auto;
  width: 100vw;
  height: auto;
  background-color: #F7F7FF;
  justify-items: center;
  align-items: center; }
  .about__img {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%; }
  .about__img-container {
    object-fit: contain;
    grid-column: 5 / 9;
    width: 100%;
    height: 100%;
    padding: 0 2rem; }
    @media only screen and (max-width: 56.25em) {
      .about__img-container {
        grid-column: 4 / 10; } }
    @media only screen and (max-width: 31.25em) {
      .about__img-container {
        grid-column: 3 / 11; } }
    @media only screen and (max-width: 21.875em) {
      .about__img-container {
        grid-column: 2 / 12; } }
  .about__heading {
    text-align: center;
    grid-column: 1 / -1;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    margin-top: 10rem; }
  .about__text {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    grid-column: 5 / 9;
    grid-row: 3 / 3; }
    @media only screen and (max-width: 34.375em) {
      .about__text {
        grid-column: 4 / 10; } }
    @media only screen and (max-width: 21.875em) {
      .about__text {
        grid-column: 3 / 11; } }
    @media only screen and (max-width: 25em) {
      .about__text {
        font-size: 1.7rem; } }

.skills {
  background-color: #fff;
  width: 70%;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: min-content;
  margin: 0 auto;
  margin-top: -3rem;
  border-radius: 1.2rem;
  box-shadow: 10px 10px 54px 0px rgba(0, 0, 0, 0.062);
  transition: all 0.4s; }
  @media only screen and (max-width: 31.25em) {
    .skills {
      grid-gap: 2.5rem; } }
  @media only screen and (max-width: 25em) {
    .skills {
      width: 90%; } }
  .skills__side {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto; }
  .skills__icon {
    height: 10rem;
    width: 10rem; }
  .skills__heading {
    font-size: 1.7rem;
    font-family: Leelawadee UI;
    font-weight: 900;
    margin-top: 0.5rem; }
    .skills__heading-secondary {
      color: #DBB957;
      font-family: Leelawadee UI;
      font-weight: 400;
      font-family: 1.4rem;
      margin-top: 1rem; }
    @media only screen and (max-width: 25em) {
      .skills__heading {
        font-size: 1.9rem; } }
  .skills__description {
    font-size: 1.4rem;
    font-family: Leelawadee UI;
    text-align: center; }
    @media only screen and (max-width: 25em) {
      .skills__description {
        font-size: 1.6rem; } }
  .skills:hover {
    transform: translateY(-1rem); }

.portfolio {
  display: grid;
  margin: 0 auto;
  margin-top: 3rem;
  width: 70%;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-template-rows: repeat(auto-fit, min-content); }
  @media only screen and (max-width: 28.125em) {
    .portfolio {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); } }
  .portfolio__img {
    width: 100%;
    border-radius: 4rem;
    padding: 2rem;
    cursor: pointer;
    transition: transform 0.2s; }
    .portfolio__img:hover {
      transform: translateY(-1rem); }
    .portfolio__img:active {
      transform: translateY(-0.6rem); }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #e4d7b2, #DBB957);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: lowercase;
  color: #279AF1;
  text-decoration: underline;
  cursor: pointer; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  @media only screen and (max-width: 32.5em) {
    .paragraph {
      font-size: 1.8rem; } }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  font-family: "Lato", sans-serif; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
    @media only screen and (max-width: 40.3125em) {
      .popup__left {
        display: none; } }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
    @media only screen and (max-width: 40.3125em) {
      .popup__text {
        column-count: 1;
        column-gap: 0;
        column-rule: none;
        text-align: justify; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #55c57a; }

.footer {
  background-color: #F7F7FF;
  text-align: center;
  margin-top: 3rem;
  padding: 2rem; }
  .footer__img {
    width: 18rem; }
  .footer__heading {
    font-family: Leelawadee UI;
    font-weight: 400;
    font-size: 2.1rem;
    text-transform: uppercase; }
  .footer__tagline {
    font-family: Leelawadee UI;
    font-weight: 300;
    font-size: 1.7rem;
    color: #DBB957;
    margin-top: -0.5rem; }
  .footer__copyright {
    font-size: 1.3rem;
    margin-top: 2rem; }

.navigation {
  font-family: Leelawadee UI; }
  @media only screen and (min-width: 37.5em) {
    .navigation {
      display: none; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 3rem;
    left: 3rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .navigation__button {
        top: 4rem;
        right: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__button {
        top: 3rem;
        right: 3rem; } }
  .navigation__background {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    left: 4rem;
    background-image: radial-gradient(#c9c9da, #dbdbff);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media only screen and (max-width: 56.25em) {
      .navigation__background {
        top: 4.5rem;
        right: 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__background {
        top: 3.5rem;
        right: 3.5rem; } }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }
