.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content repeat(2, min-content);
    padding: 5rem 0;
    margin: 0 auto;
    width: 100vw;
    height: auto;
    background-color: #F7F7FF;
    justify-items: center;
    align-items: center;

    &__img {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    &__img-container {
        object-fit: contain;
        ///grid-row: 1 / 1;
        grid-column: 5 / 9;
        width: 100%;
        height: 100%;
        padding: 0 2rem;

        @media only screen and (max-width: 56.25em) {
            grid-column: 4 / 10;
        }

        @media only screen and (max-width: 31.25em) {
            grid-column: 3 / 11;
        }
        
        @media only screen and (max-width: 21.875em) {
            grid-column: 2 / 12;
        }
    }

    &__heading {
        text-align: center;
        grid-column: 1 / -1;
        font-size: 2.5rem;
        font-family: 'Lato', sans-serif;
        margin-top: 10rem;
    }

    &__text{
        font-size: 1.5rem;
        font-family: 'Lato', sans-serif;
        text-align: center;
        grid-column: 5 / 9;
        grid-row: 3 / 3;

        @media only screen and (max-width: 34.375em) {
            grid-column: 4 / 10;
        }

        @media only screen and (max-width: 21.875em) {
            grid-column: 3 / 11;
        }

        @media only screen and(max-width: 25em) {
            font-size: 1.7rem;
        }
    }
}