.portfolio {
  display: grid;
  margin: 0 auto;
  margin-top: 3rem;
  width: 70%;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-template-rows: repeat(auto-fit, min-content);
  @media only screen and (max-width: 28.125em) {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  &__img {
    width: 100%;
    border-radius: 4rem;
    padding: 2rem;
    cursor: pointer;
    transition: transform 0.2s;
    &--full-width {
      //grid-column: 1 / span 2;
    }
    &:hover {
      transform: translateY(-1rem);
    }
    &:active {
      transform: translateY(-0.6rem);
    }
  }
}